.cache
.git
.husky
.next
.nova
.redwood
.temp
.vscode
.yarn

api/src/lib/sentry.ts
api/db/migrations
api/db/data.json
api/dist
gen-types
node_modules
prisma
public
resources
web/dist
.mesh

web/types/graphql.d.ts
api/types/graphql.d.ts

sentry.ts
